@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --color-text-base:rgb(255, 255, 255);
        --color-text-muted: rgb(199, 210, 254);
        --color-text-inverted: rgb(79, 70, 229);
        --color-fill: rgb(67, 56, 202);
        --color-button-accent: rgb(255, 255, 255);
        --color-button-accent-hover: rgb(238, 242, 255);
        --color-button-muted: rgb(99, 102, 241);
    }
  }
  .option {
    padding: 10px;
    margin: 8px 0;
    background-color: white; /* Light gray background */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.option:hover {
    background-color: #f4f3ee; /* Slightly darker gray on hover */
    transform: scale(1.05); /* Slight scaling effect on hover */
}

.option.correct {
    background-color: #bcc452; /* Green background for correct answer */
    color: white;
}

.option.incorrect {
    background-color: #ff570a; /* Red background for incorrect answer */
    color: white;
}

.option.disabled {
    pointer-events: none; /* Disable clicking after selection */
}
@media (max-width: 640px) {
    .submitted-answer {
        padding: 8px; /* Optional: Add padding as needed */
        display: block; /* Block-level element, but this is the default for <p> */
        overflow: visible; /* Allow overflow */
        white-space: normal; /* Allow text to wrap onto new lines */
    }
}
